.upperInfo>img{
    width: 14em;
    height: 12em;
}

.upperInfo{
    margin: 5em 5em 3em 5em;
    display: flex;
    justify-content:baseline;
    align-items: center;

}
.upperInfo>div{
    margin-left: 2em;
    
}

span {
    font-weight: bold;
    font-size: 1em;
}
.downInfo{
    margin-left: 5em;
}