
#logo{
    height:7em;
    margin-left: 6em;
}

.top{
    height: 6em;
    margin:0px;
    display: flex;
    background-color: #C2C6CC;
    justify-content: space-between;
    width: 100vw;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;

    } 

.rightSide{
    display: flex;      
    align-items: center ;
    width: 30%;
    justify-content: space-around;
    margin-right: 5em;
    flex-direction: column;
}
.btnHeader{
    
    border-radius: 20%;
    border: 1px black solid;
    color: white;
    box-shadow: 0px 30px 84px rgba(0, 0, 0, 0.08),
    0px 8px 32px rgba(0, 0, 0, 0.07), 0px 3px 11px rgba(0, 0, 0, 0.03),
    0px 1px 3px rgba(0, 0, 0, 0.13);
    height: 3.5em;
    background: #484848;
    border-radius: 23px;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    justify-content: space-between;
    align-items: center;
    
}

.btnHeader:hover{
    cursor:grab;
}
#wallet{
    border-radius: 23px;
    width:12em;
    border: transparent;
    /* border-radius: 20%; */
    box-shadow: none;
    padding-left: 1em;
}

#toggle{
    background-color: rgb(253, 234, 234);
    border: transparent;
    display: block;
    width: 6em;
    margin-right: -0.5em;
}
#toggle >.customerTog>img{
    height: 3em;
    margin: 0;
    padding-right: 70%;
    transition: all 0.2s ease-in;
}

#toggle >.bossTog>img{
    height: 3em;
    margin: 0;
    padding-left: 40%;
    transition: all 0.2s ease-in;
}

#btnOut{
    padding-left: 1em;
    width:20em
}