.calender{
    margin-top:20px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1PX solid rgb(253, 234, 234);
    border-radius: 5%;
    padding:1vw 3vw ;

}
.oneWeek{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

 .calender>div >button, .calender>div >button {
    font-size:1.5em;
    border:0px;
    background-color: white;
    color:black;
}

.calender>div >button:hover {
    cursor:grab;


}