.eachDay{
    border:1px solid white;
    background-color: white;
    width:4em;
    height:3em;
}

.eachDay:hover{
    display: inline-block;
    background-color: aqua;
    width:4em;
    height:3em;
    cursor:grab;
    }

#blurred{
    text-shadow: 0px 0px 10px white;
    color: transparent;
}

